<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body class="bg-gray-100">

    {% include 'header.html' %}

    <div class="flex flex-col md:flex-row">
        {% include 'left_column.html' %}
        <main class="flex-1 bg-gray-50 p-6">
            <div class="container mx-auto p-6 shadow-md rounded-lg border border-gray-300">
                <h2 class="text-2xl font-bold mb-6">Add New Trade</h2>
                <form method="POST" action="{{ url_for('add_trade') }}" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <style>
                        .w-15 {
                            width: 60px; /* Adjust as needed */
                        }
                        .input-small {
                            font-size: 0.75rem;
                            padding: 0.25rem;
                        }
                        .table-small {
                            font-size: 0.75rem;
                        }
                        .error-message {
                            color: red;
                            font-size: 0.75rem;
                        }
                    </style>
                    <table class="table-small w-1/2">
                        <tr>
                            <td>{{ form.ticket.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}</td>
                            <td>{{ form.ticket(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.open_time.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}</td>
                            <td>{{ form.open_time(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder="YYYY-MM-DD HH:MM:SS") }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.trade_type.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}</td>
                            <td>{{ form.trade_type(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.size.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}</td>
                            <td>{{ form.size(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.item.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}</td>
                            <td>{{ form.item(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.price.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}</td>
                            <td>{{ form.price(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", step="0.01") }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.s_l.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}</td>
                            <td>{{ form.s_l(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", step="0.01") }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.t_p.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}</td>
                            <td>{{ form.t_p(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", step="0.01") }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.close_time.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}</td>
                            <td>
                                {{ form.close_time(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder="YYYY-MM-DD HH:MM:SS") }}
                                <p id="closeTimeError" class="error-message"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form.close_price.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}</td>
                            <td>{{ form.close_price(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", step="0.01") }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.comm.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}</td>
                            <td>{{ form.comm(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder="0.00", value="0.00", step="0.01") }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.taxes.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}</td>
                            <td>{{ form.taxes(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder="0.00", value="0.00", step="0.01") }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.swap.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}</td>
                            <td>{{ form.swap(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder="0.00", value="0.00", step="0.01") }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.profit.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}</td>
                            <td>{{ form.profit(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", step="0.01") }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.strategy.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}</td>
                            <td>{{ form.strategy(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.comments.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}</td>
                            <td>{{ form.comments(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label for="dropzoneFileUpload" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Screenshots</label>
                                <div class="dropzone bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="dropzoneFileUpload"></div>
                            </td>
                        </tr>                      
                        <tr>
                            <td colspan="2" class="text-right py-4">
                                {{ form.submit(class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline", value="Save") }}
                            </td>
                        </tr>                        
                    </table>
                </form>
            </div>
        </main>
    </div>

    <script>
        flatpickr("input[name='open_time']", {
            enableTime: true,
            enableSeconds: true,
            dateFormat: "Y-m-d H:i:S",
        });
        flatpickr("input[name='close_time']", {
            enableSeconds: true,
            enableTime: true,
            dateFormat: "Y-m-d H:i:S",
        });

        document.getElementById('tradeForm').addEventListener('submit', function (e) {
            const openTime = document.querySelector("input[name='open_time']").value;
            const closeTime = document.querySelector("input[name='close_time']").value;

            if (closeTime && new Date(closeTime) <= new Date(openTime)) {
                e.preventDefault();
                document.getElementById('closeTimeError').textContent = 'Close Time must be after Open Time';
            }
        });

    </script>

    <script>
    Dropzone.autoDiscover = false;
    var dropzone = new Dropzone("#dropzoneFileUpload", {
        url: "{{ url_for('upload_file') }}",
        maxFiles: 3,
        maxFilesize: 3, // MB
        acceptedFiles: "image/*",
        addRemoveLinks: true,
        success: function(file, response) {
            console.log(response);
            // Store the uploaded filenames in a hidden input or somewhere in your form for later use
            var hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = 'uploaded_files[]';
            hiddenInput.value = response.filename;
            document.querySelector('form').appendChild(hiddenInput);
        },
        error: function(file, response) {
            console.log(response);
        }
    });
    </script>

</body>
</html>