<header class="bg-gray-50 bg-gray-800 text-white p-4 flex justify-between items-center border border-gray-700 relative">
    <div class="flex items-center">
        <!--<img src="https://via.placeholder.com/40" alt="Logo" class="mr-3">-->
        <a href="{{ url_for('index') }}" class="text-2xl text-white font-bold">tradePilot</a>
        <!-- Desktop Menu -->
        <nav class="hidden md:flex ml-4 space-x-4">
            <a href="{{ url_for('index') }}" class="text-gray-300 hover:text-white">Dashboard</a>
            <a href="{{ url_for('trading_checklist') }}" class="text-gray-300 hover:text-white">Trading Checklist</a>
            <a href="{{ url_for('today_trading_plan') }}" class="text-gray-300 hover:text-white">Trading Plan</a>
            <a href="{{ url_for('calendar') }}" class="text-gray-300 hover:text-white">Calendar</a>
            <a href="{{ url_for('trades') }}" class="text-gray-300 hover:text-white">Journal</a>
            <a href="#" class="text-gray-300 hover:text-white">Setups</a>
            <a href="#" class="text-gray-300 hover:text-white">Playbook</a>
        </nav>
    </div>
    <div class="flex items-center relative">
        <!-- Flash Messages -->
        <div class="absolute top-0 right-0 mt-4 z-50 flash-messages-container"> <!-- Removed fixed width -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="bg-{{ 'blue' if category == 'info' else 'green' if category == 'success' else 'yellow' if category == 'warning' else 'red' }}-100 border border-{{ 'blue' if category == 'info' else 'green' if category == 'success' else 'yellow' if category == 'warning' else 'red' }}-400 text-{{ 'blue' if category == 'info' else 'green' if category == 'success' else 'yellow' if category == 'warning' else 'red' }}-700 px-4 py-3 rounded relative mb-4 inline-block"> <!-- Ensure inline-block for horizontal display -->
                            <span class="block sm:inline mr-8">{{ message }}</span>
                            <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                                <svg class="fill-current h-6 w-6 text-{{ 'blue' if category == 'info' else 'green' if category == 'success' else 'yellow' if category == 'warning' else 'red' }}-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" onclick="this.parentElement.parentElement.style.display='none';">
                                    <title>Close</title>
                                    <path d="M14.348 5.652a1 1 0 010 1.414L11.414 10l2.934 2.934a1 1 0 01-1.414 1.414L10 11.414l-2.934 2.934a1 1 0 01-1.414-1.414L8.586 10 5.652 7.066a1 1 0 011.414-1.414L10 8.586l2.934-2.934a1 1 0 011.414 0z"/>
                                </svg>
                            </span>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <span class="mr-4 hidden md:inline">Hello, {{ current_user.username }}</span>
        <button id="user-menu-toggle" class="focus:outline-none hidden md:block">
            <div class="w-16 h-16 rounded-full flex items-center justify-center text-white text-5xl">
                {% if current_user.mood %}
                    {{ current_user.mood }}
                {% else %}
                    M
                {% endif %}
            </div>
        </button>
        <div id="user-menu" class="hidden absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-2 z-20">
            <a href="{{ url_for('profile') }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">My Profile</a>
            <a href="{{ url_for('logout') }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Log out</a>
        </div>
        <button id="mobile-menu-toggle" class="focus:outline-none ml-4 md:hidden">
            <span class="material-icons">menu</span>
        </button>
    </div>
</header>

<section class="py-2 border-b border-gray-700">
    <div class="container px-4 text-black flex justify-end items-center text-xs">
        <div style="width: 100%; position: relative; overflow: hidden;">
            <iframe id="fx-widget" src="https://fxpricing.com/fx-widget/ticker-tape-widget.php?id=1,2,3,5,14,20&border=hide&speed=50&pair_weight=normal&click_target=blank&theme=dark&tm-cr=1F2937&hr-cr=00000013&by-cr=28A745&sl-cr=DC3545&flags=hide&d_mode=compact-name&column=&lang=en&font=Arial, sans-serif" width="100%" height="85" style="border: unset;"></iframe>
            <div id="fx-pricing-widget-copyright" style="display: none;">
                <span>Powered by </span><a href="https://fxpricing.com/" target="_blank">FX Pricing</a>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var iframe = document.getElementById('fx-widget');
                iframe.onload = function() {
                    var iframeDoc = iframe.contentDocument || iframe.contentWindow.document;
                    var observer = new MutationObserver(function(mutations) {
                        mutations.forEach(function(mutation) {
                            var brandElement = iframeDoc.querySelector('.fcs-brand');
                            if (brandElement) {
                                brandElement.style.display = 'none';
                            }
                        });
                    });
                    observer.observe(iframeDoc.body, { childList: true, subtree: true });
                };
            });
        </script>
        
    </div>
</section>

<div id="mobile-menu" class="hidden md:hidden bg-white shadow-lg py-4">
    <nav class="p-4">
        <a href="{{ url_for('add_trade') }}" class="bg-blue-600 text-white w-full py-2 mb-4 block text-center">New Trade Entry</a>
        <ul>
            <li class="mb-2"><a href="{{ url_for('index') }}" class="flex items-center text-gray-700 hover:text-blue-600"><span class="material-icons mr-2">dashboard</span>Dashboard</a></li>
            <li class="mb-2"><a href="{{ url_for('daily') }}" class="flex items-center text-gray-700 hover:text-blue-600"><span class="material-icons mr-2">today</span>Daily</a></li>
            <li class="mb-2"><a href="{{ url_for('calendar') }}" class="flex items-center text-gray-700 hover:text-blue-600"><span class="material-icons mr-2">calendar_today</span>Calendar</a></li>
            <li class="mb-2"><a href="{{ url_for('trades') }}" class="flex items-center text-gray-700 hover:text-blue-600"><span class="material-icons mr-2">book</span>Journal</a></li>
            <li class="mb-2"><a href="#" class="flex items-center text-gray-700 hover:text-blue-600"><span class="material-icons mr-2">assignment</span>Setups</a></li>
            <li class="mb-2"><a href="#" class="flex items-center text-gray-700 hover:text-blue-600"><span class="material-icons mr-2">menu_book</span>Playbook</a></li>
            <li class="mb-2"><a href="{{ url_for('logout') }}" class="flex items-center text-gray-700 hover:text-blue-600"><span class="material-icons mr-2">logout</span>Log out</a></li>
        </ul>
    </nav>
</div>

<script>
document.getElementById('user-menu-toggle').addEventListener('click', function() {
    var menu = document.getElementById('user-menu');
    menu.classList.toggle('hidden');
});

document.getElementById('mobile-menu-toggle').addEventListener('click', function() {
    var menu = document.getElementById('mobile-menu');
    menu.classList.toggle('hidden');
});
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        setTimeout(function () {
            let flashMessages = document.querySelectorAll('.flash-messages-container > div');
            flashMessages.forEach(message => message.style.display = 'none');
        }, 5000);  // Adjust the timeout as needed (5000ms = 5 seconds)
    });
</script>

<style>
.flash-messages-container {
    width: 500px; /* Adjusted width for desktop devices */
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .flash-messages-container {
        width: 200px; /* Adjusted width for mobile devices */
    }
}
</style>
