<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body class="bg-gray-50 bg-gray-800">
    {% include 'header.html' %}
    <div class="flex flex-col md:flex-row">
        {% include 'left_column.html' %}
        <div class="flex-1">
            {% include 'main_content.html' %}
            <!-- {% include 'right_column.html' %} -->
        </div>
    </div>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const moodIcon = document.getElementById('mood-icon');
        const moods = {
            'happy': '😊',
            'sad': '😢',
            'neutral': '😐',
            'angry': '😡',
            'excited': '😃'
        };
    
        // Function to update mood icon
        function updateMoodIcon(mood) {
            moodIcon.textContent = moods[mood] || 'M';
        }
    
        // Initial mood icon update
        const initialMood = moodIcon.getAttribute('data-mood');
        updateMoodIcon(initialMood);
    
        // Listen for changes in the mood select field on the profile page
        const moodSelect = document.querySelector('select[name="mood"]');
        if (moodSelect) {
            moodSelect.addEventListener('change', function() {
                const selectedMood = moodSelect.value;
                updateMoodIcon(selectedMood);
            });
        }
    });
</script>    
</body>
</html>