<ul class="flex space-x-4 text-xs">
    <!--<li class="flex items-center bg-gray-200 rounded p-2">
        <div class="flex items-center justify-center w-6 h-6 bg-blue-500 text-white rounded-full mr-2">1</div>
        <span class="font-medium text-black">Min Days: {{ user_data.min_trading_days }}</span>
    </li>-->
    <li class="flex items-center bg-gray-200 rounded p-2">
        <div class="flex items-center justify-center w-6 h-6 bg-yellow-500 text-white rounded-full mr-2">1</div>
        <span class="font-medium text-black">Max Daily Loss: {{ user_data.max_daily_loss }}</span>
    </li>
    <li class="flex items-center bg-gray-200 rounded p-2">
        <div class="flex items-center justify-center w-6 h-6 bg-red-500 text-white rounded-full mr-2">2</div>
        <span class="font-medium text-black">Max Loss: {{ user_data.max_loss }}</span>
    </li>
    <li class="flex items-center bg-gray-200 rounded p-2">
        <div class="flex items-center justify-center w-6 h-6 bg-green-500 text-white rounded-full mr-2">3</div>
        <span class="font-medium text-black">Profit Target: {{ user_data.profit_target }}</span>
    </li>
</ul>
